@tailwind base;
@tailwind components;
@tailwind utilities;

.login-page-container {
  background-image: url("/images/bg.jpg");
}
.login-container {
  background: rgba(19, 1, 1, 0.336);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #071952;
}

.ant-input::placeholder {
  color: #585858 !important;
}

.custom-input-class ::placeholder {
  color: #585858 !important;
}

.empty-drop-area {
  min-height: 500px;
}
